%footer#footer.clearfix
  #footer-widgets
    .container
      #footer-wrapper
        .row
          .col.text-center
            #recent-posts-3.widget.widgetFooter.widget_recent_entries
              %a{:href => "https://github.com/meisendrath/wuji-karma", :target => "_blank"}
                %i.fa.fa-github
                Github
              %br
              Copyright © Wuji Karma 2018
