%section.content-section.text-center
  %header.masthead
    .intro-body
      .container
        .row
          .col-lg-8.mx-auto
            %h1.brand-heading Wuji Karma
  .container
    .row
      .col-lg-8.mx-auto
        %h1.brand-heading What is Wuji Karma?
