-# TODO home page would contain concept explanation, links to white paper, etc

%section.content-section.text-center
  .vertically-align
  %h1 Welcome to the Verifiable and Distributed Sustainability Platform for the Earth

%section.whitepaper-section.text-center
  %h2 Read the whitepaper

-# %section.paper-link
-#   %a{"data-target" => ".my-modal", "data-toggle" => "modal"}
-#     .modal.fade.my-modal{:role => "dialog", :tabindex => "-1"}
-#       .modal-dialog{:role => "document"}
-#         .modal-content
-#           .modal-body
-#   %object{:data => "www.cbu.edu.zm/downloads/pdf-sample.pdf", "frame-resize" => "", :height => "200px", :type => "application/pdf", :width => "200px"}

%blockquote.embedly-card
  %h4
    %a{:href => "https://drive.google.com/open?id=1Srnp-DxHjEyb9Uu_zekTC_mBQD24Wn8f"} whitePaper2.pdf
  %p
%script{:async => "", :charset => "UTF-8", :src => "//cdn.embedly.com/widgets/platform.js"}



-# %canvas#barChart
-#
-# %script{:src => "jquery-1.8.3.js", :type => "text/javascript"}
-# %script{:src => "javascripts/home-page-chart.js"}
