-# TODO home page would contain concept explanation, links to white paper, etc

%section.content-section.text-center
  .vertically-align
  %h1 Welcome to the Verifiable and Distributed Sustainability Platform for the Earth


%canvas#barChart

%script{:src => "jquery-1.8.3.js", :type => "text/javascript"}
%script{:src => "javascripts/home-page-chart.js"}
